@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* -------------- */
/* SPACING SYSTEM */
/* 2 3 4.8 6.4 8.2 */
/* -------------- */

:root {
    --text-main-color: #1A304E;
    
    --tint-1: #314560;
    --tint-2: #374D71;

    --shade-1: #15263e;

    --light-fill: rgba(210, 215, 221, 0.5);
    --medium-fill: #d2d7dd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-main-color);
}

/* ---------------- */
/* REUSABLE CLASSES */
/* ---------------- */
.heading-primary {
    font-size: 6.2rem;
}
.heading-secondary {
    font-size: 4.6rem;
}
.heading-tertiary {
    font-size: 2.4rem;
}

.margin-bottom-sm {
    margin-bottom: 2rem;
}
.margin-bottom-md {
    margin-bottom: 4rem;
}
.margin-bottom-h {
    margin-bottom: 6.4rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

/* ------ */
/* HEADER */
/* ------ */

header {
    margin: 0 auto;   
}

.header-container {
    padding: 4.8rem 8.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box {
    display: flex;
    align-items: center;
    gap: 2em;
}
.header-box-link:link,
.header-box-link:visited {
    display: flex;
    align-items: center;
    gap: 2rem;

    text-align: left;
    text-decoration: none;
    color: var(--text-main-color);
}
.header-box-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header-box-title {
    font-size: 2rem;
    font-weight: 700;
}
.header-box-description {
    font-size: 1.6rem;
}
.header-box-icon {
   width: 5.1rem;
   height: 5.1rem;
   fill: var(--text-main-color);
}


.header-titlebox {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    text-align: center;
}
.header-title {
    font-size: 4.8rem;
    font-weight: 700;
}
.header-subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: .3rem;
}

/* ---------- */
/* NAVIGATION */
/* ---------- */

.main-nav {
    padding: 3rem 2rem;
    background-color: var(--light-fill);
}

.main-nav-list {
    max-width: 120rem; 
    margin: 0 auto;

    display: flex;  
    justify-content: space-between;
    
    list-style: none;
    text-decoration: none;
}

.main-nav-link:link::after,
.main-nav-link:visited::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    font-weight: 700;
}

.main-nav-link:link,
.main-nav-link:visited {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .4rem;
    color: var(--text-main-color);
}
.main-nav-link:hover,
.main-nav-link:active {
    transition: all 0.3s;
    color: #25334b;
    text-shadow: 2px 2px rgba(55, 77, 113, 0.3);
}

/* ---- */
/* HERO */
/* ---- */

.section-hero {
    padding: 9.6rem 0;
}

.hero-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    align-items: center;
}

.hero-text-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-subheading {
    font-size: 3.2rem;
    letter-spacing: -0.1rem;
}

.hero-buttons {
    display: flex;
    gap: 1.5rem;
}

.hero-img-column img {
    width: 100%;
}

.hero-buttons a:link,
.hero-buttons a:visited {
    padding: 1rem 1.8rem;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
}

.hero-buttons svg {
    width: 2.2rem;
    height: 2.2rem;
    flex-shrink: 0;
}

.hero-buttons a:first-child:link,
.hero-buttons a:first-child:visited {
    background-color: var(--light-fill);
    color: var(--text-main-color);
}

.hero-buttons a:nth-child(2):link,
.hero-buttons a:nth-child(2):visited {
    background-color: var(--text-main-color);
    color: white;
}

.hero-buttons a:hover svg,
.hero-buttons a:active svg {
    transition: all 0.3s;
    transform: translate(5%, -5%);
    
}

.hero-buttons a:first-child:hover,
.hero-buttons a:first-child:active {
    transition: all 0.3s;
    background-color: var(--medium-fill);
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.02);
}

.hero-buttons a:nth-child(2):hover,
.hero-buttons a:nth-child(2):active {
    transition: all 0.3s;
    background-color: var(--shade-1);
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.05);
}

/* ----- */
/* OFFER */
/* ----- */

.section-offer {
    padding-top: 3.6rem;
    padding-bottom: 6.4rem;
}

.offer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.6rem;
}

.offer-description-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.offer-description-column p {
    font-size: 2rem;
    line-height: 1.5;
}

.offer-description-column a:link,
.offer-description-column a:visited {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-size: 2rem;;
    color: var(--text-main-color);
    text-decoration: none;
}

.offer-description-column a:link svg,
.offer-description-column a:visited svg {
    color: var(--text-main-color);
    flex-shrink: 0;
    align-self: center;
    width: 2.1rem;
    height: 2.1rem;
}

.offer-list-column {
    display: flex;
    flex-direction: column;
}

.offer-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    font-size: 2rem;
}

.offer-list li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.offer-list svg {
    flex-shrink: 0;
    width: 2rem !important;
    height: 2rem !important;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem 2rem;
    background-color: var(--light-fill);
    border-radius: 3px;

    font-size: 1.7rem;
}
.about-us-title {
    font-weight: 700;
}

/* ------- */
/* CONTACT */
/* ------- */

.section-contact {
    padding: 10.8rem 0;
}

.contact-container {
    /* display: flex;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
}

.contact-box-title {
    display: flex;
    gap: 1rem;
}
.contact-box-title svg {
    width: 2.8rem;
    height: 2.8rem;
}

.contact-box-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-box-element:link,
.contact-box-element:visited {
    display: flex;
    gap: 1rem;

    font-size: 1.8rem;
    text-decoration: none;
    color: var(--tint-2);
}

.contact-box-element:link svg,
.contact-box-element:visited svg{
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    align-self: center;
}

.contact-box-element:hover,
.contact-box-element:active {
    transition: all 0.3s;
    color: var(--text-main-color);
    text-shadow: 2px 2px rgba(55, 77, 113, 0.1);
}

.contact-box-element:hover svg,
.contact-box-element:active svg {
    transition: all 0.3s;
    transform: translate(7%, -3%);
}

.contact-box-content {
    font-size: 1.8rem;
}

/* -------- */
/* LOCATION */
/* -------- */

.section-location {
    padding: 9.6rem 0;
}

.location-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.location-address-columnn {
    display: flex;
    flex-direction: column;
}

.address {
    line-height: 2.5;
    font-size: 2rem;
}

.navigate-btn:link,
.navigate-btn:visited {
    max-width: 35rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 2rem 2rem;
    background-color: var(--text-main-color);
    border-radius: .3rem;

    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.navigate-btn:link svg,
.navigate-btn:visited svg {
    width: 2.2rem;
    height: 2.2rem;
}

.navigate-btn:hover,
.navigate-btn:active {
    transition: all 0.3s;
    background-color: var(--shade-1);
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.05);
}

.navigate-btn:hover svg,
.navigate-btn:active svg {
    transition: all 0.3s;
    transform: translate(5%, -5%);
}

iframe {
    border-radius: .3rem;
}

.hours-box {
    display: none;
}

/* ------ */
/* FOOTER */
/* ------ */

footer {
    padding-top: 9.6rem;
    padding-bottom: 2rem;
}

.footer-divider {
    width: 100%;
    height: 0.1rem;
    background-color: var(--tint-2);
    opacity: 50%;

    box-shadow: 0 0 12px 2px rgba(0,0,0,0.07);
}

.copyright {
    font-size: 1.8rem;

    padding: 1rem 2rem;

    color: var(--tint-2);
    opacity: 75%;
}

/* -------------- */
/* RESPONSIVENESS */
/* -------------- */

@media (max-width: 85em) {
    .container {
        max-width: 110rem;
    }
}

@media (max-width: 78em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 70em) {
    .header-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3.6rem;

        justify-items: center;
    }

    .header-titlebox {
        grid-column: 1 / -1;
    }
    .header-first-box {
        grid-row: 2 / 2;
    }
    .header-box {
        grid-column: 2 / 3;
    }

    .container {
        max-width: 100rem;
    }

    .header-container {
        background-color: var(--light-fill);
    }

    nav {
        display: none;
    }

    .section-hero {
        padding-top: 6.4rem;
    }

    iframe {
        width: 100%;
    }
}

@media (max-width: 63em) {
    html {
        font-size: 58%;
    }

    .container {
        max-width: 90rem;
    }

    .hero-container {
        grid-template-columns: 1fr;
        row-gap: 3.6rem;
        text-align: center;
    }
    .hero-buttons {
        margin: 0 auto;
    }

    .hero-img-column img {
        width: 50rem;
    }

    .offer-container {
        grid-template-columns: 1fr;
        row-gap: 6.4rem;
    }

    .about-us {
        font-size: 2rem;
    }

    .location-container {
        grid-template-columns: 1fr;
        row-gap: 6.4rem;
    }
    .location-map-column {
        display: flex;
        justify-content: center;
    }
    iframe {
        width: 50%;
    }
}

@media (max-width: 55em) {
    .container {
        max-width: 75rem;
    }

    .contact-container {
        max-width: 30rem;
        margin: 0 auto;

        grid-template-columns: 1fr;
        row-gap: 4.2rem;
        justify-items: start;
        align-items: center;
    }

    iframe {
        width: 70%;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 55%;
    }

    .container {
        width: 80%;
    }

    header {
        width: 100%;
    }

    .section-contact {
        padding-top: 3.6rem;
    }
    .section-location {
        padding-top: 3.6rem;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .header-first-box {
        display: none;
    }

    header .header-box {
        display: none;
    }

    .section-contact .hours-box {
        display: flex;
        justify-content: center;
    }

    .heading-primary {
        font-size: 5rem;
    }

    iframe {
        width: 100%;
    }
}

@media (max-width: 35em) {
    .header-title {
        font-size: 4.2rem;
    }
    .header-subtitle {
        font-size: 2.5rem;
    }
    .heading-primary {
        font-size: 4.8rem;
    }
    .hero-subheading {
        font-size: 2.6rem;
    }

    .hero-img-column img {
        width: 80%;
    }

    .contact-box-element:link,
    .contact-box-element:visited {
        font-size: 2rem;
    }
}